extends layout

block content
  .row
    .col.s12
      a.waves-effect.waves-light.btn(href="/projects/new")
        i.material-icons.left add
        | 신규 프로젝트 생성

  .row
    .col.m8.input-field
      h6
        | 총 #{new Intl.NumberFormat().format(data.count)}건
    .col.m4.input-field
      i.material-icons.prefix search
      input#icon_prefix.validate(type='text')
      label(for='icon_prefix') 데이터 검색

  .row
    .col.s12
      table.data-table
        thead
          tr
            th.text-center.w60 
              | ID
            th 파일명
            th 데이터 타입
            th Size
            th Rows
            th 상태
            th 데이터 등록일
            th
            th
        tbody
          each row in data.rows
            tr
              td.text-center=row.id
              td
                a(href="/projects/" + row.id)=row.originFileName
              td.text-center=row.contentType
              td.text-right=formatBytes(row.fileSize)
              td.text-right=""
              td.text-center=dataStatus[row.status].message
              td.text-center=moment(row.createdAt).format("YY/MM/DD")
              td
              td

    include fragments/_pagination
    +pagination(pageOption)
