<div class="table-responsive">
  <table class="preview-table">
    <thead>
      <tr>
        <th class="min">컬럼명</th>
        <th class="min">Rows</th>
        <th class="min">Distinct Cnt</th>
        <th class="min">Unique Cnt</th>
        <th class="min">Dup Cnt</th>
        <th class="min">Null Cnt</th>
        
        <th class="min">Min Val</th>
        <th class="min">Max Val</th>
        <th class="min">Mean Val</th>
        <th class="min">Median Val</th>

        <th class="min">Avg Len Val</th>
        <th class="min">Max Len Val</th>
        <th class="min">Min Len Val</th>
        <th class="min">True Cnt</th>
        <th class="min">False Cnt</th>
      </tr>
    </thead>

    <tbody>
      {{#each this}}
      {{#ifCond @index ">" 0}}
      <tr>
        <td>{{columnName}}</td>
        <td class="right-align">{{rowCnt}}</td>
        <td class="right-align">{{distinctCnt}}</td>
        <td class="right-align">{{uniqueCnt}}</td>
        <td class="right-align">{{duplicateCnt}}</td>
        <td class="right-align">{{nullCnt}}</td>
        
        <td class="right-align">{{fixFloat numMinVal}}</td>
        <td class="right-align">{{fixFloat numMaxVal}}</td>
        <td class="right-align">{{fixFloat numMeanVal}}</td>
        <td class="right-align">{{fixFloat numMedianVal}}</td>

        <td class="right-align">{{fixFloat strAvgLenVal}}</td>
        <td class="right-align">{{fixFloat strMaxLenVal}}</td>
        <td class="right-align">{{fixFloat strMinLenVal}}</td>

        <td class="right-align">{{trueCnt}}</td>
        <td class="right-align">{{falseCnt}}</td>
      </tr>
      {{/ifCond}}
      {{/each}}
    </tbody>
  </table>
</div>