extends ../layout

block content
  .row
    .col.s12
      h4.title=project.title
      p=project.description

  if dataset
    .row
      .col.s12
        ul.tabs
          li.tab
            a(href='#tab-preview' data-tab='preview') 데이터 미리보기
      #tab-preview.col.s12.table-responsive
        table.preview-table
          thead
            tr
              each meta, index in dataset.metas
                th.min.col-header(data-col=meta.name)
                  a.filter-btn(href='#' data-col=meta.name data-idx=index)
                    span.material-icons sort
    
                  | #{meta.name}
                  br
                  small
                    | #{meta.colType}
            tr
              each meta in dataset.metas
                th.num-chart-wrap
                  .num-chart(id="profile-" + meta.name)
          tbody#rows
        #rows-pagination
  else

  include _task_modal
  include _option_btns

block scripts
  script(src='https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js')
  script(src='/javascripts/app/handlebars-helper.js')
  script(src='https://cdn.amcharts.com/lib/4/core.js')
  script(src='https://cdn.amcharts.com/lib/4/charts.js')
  script(src='https://cdn.amcharts.com/lib/4/themes/animated.js')
  script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
  script.
    am4core.addLicense("CH204832145");
  script
    | var datasestId = #{dataset.id};
    include scripts/dataset.js
  script.
    $(document).ready(function(){
      $('.modal').modal();
      $('.fixed-action-btn').floatingActionButton();
      $('.tooltipped').tooltip();

      $( "#qufa-tasks-box" ).sortable({
        revert: true
      });
      
      $( "#qufa-tasks > li" ).draggable({
        connectToSortable: "#qufa-tasks-box",
        helper: "clone",
        revert: "invalid"
      });
      $( "ul, li" ).disableSelection();
    });
    